[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/usr/bin/node_exporter \
--web.config.file="/etc/node_exporter/config.yaml"
[Install]
WantedBy=multi-user.target
